.styled-btn {
    background-color: white;
    transition: 250ms;
    margin-top: 8px;
    margin-bottom: 8px;
}

.styled-btn:hover {
    background-color: lightgrey;
}

#dashboard {
    position: absolute;
    left: 632px;
    top: 40px;
}

#dashboardButtons {
    position: absolute;
    left: 820px;
    top: 100px;
}

body {
    font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: inherit;
}

.tooltip {
    position: relative;
    display: inline-block;
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    overflow-x: visible;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    /* Use half of the width (120/2 = 60), to center the tooltip */
}

#cashBoost {
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    display: block;
}

#openTest {
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    display: block;
}

#cashInfusionTool {
    width: 270px;
    padding-left: 16px;
    padding-right: 16px;
}

#openTestTool {
    width: 270px;
    padding-left: 16px;
    padding-right: 16px;
}